

/* Set a font for the gallery */
body {
   /*If u dont put any value to the line-height it will be multipley to the fotn-size*/
   line-height: 1.5;
  /*this font famili is the font from MC,appel,windows... So doesn't has to be dowloaded*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(0deg, rgb(173, 207, 231) 0%, rgba(224,246,255,1) 100%);
}



section {
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  
  
}
 #drawing {
  background-color: rgba(210, 234, 240, 0);
}


h1 {
  font-size: 2rem;
  margin: 20px;
  padding: 5px;
}

.gallery {
  margin-left: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 10px;
  padding-bottom: 20px;
}

.gallery img
 {background-color: rgb(5, 5, 5);
  max-width: 100%;
  max-height: 70vh;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery video {
  background-color: rgba(121, 106, 182, 0.488);
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery img {
  padding: 40px;
}
#ilustrator {
  object-fit: contain;
}

#swipe{
  color:rgb(210, 189, 30);
  border-radius: 100px;
  background-color: rgba(217, 241, 233, 0.469);
  
}




