
.skills {
	margin-bottom: 16px;
}
.panelContainer {
	background: linear-gradient(180deg, rgba(250,251,255,1) 0%, rgba(202,241,255,1) 96%, rgba(164,231,255,0.865983893557423) 100%);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.panel {
	overflow: hidden;
	background-image: url("/programingImages/matrix.jpg");
	background-position: center;
	background-size: cover;
	color: azure;
	height: 7rem;
	text-align: center; /* add this line */
	font-family: 'Xanh Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#panelLetters {	
	margin: 0;
	padding-top: 1.5rem;
	font-size: 2.5rem;
	width: 100rem;
	position: relative;
	animation-name: move-two;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;	
}

@keyframes move-two {
	from {
		
	  left: 1000px;
	}
	to {
	  left: -1550px;
	}
}



.webTextContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

  }


  .imagesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
  }
  .imagesGrid img {
	
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .videogames {
	
	max-width: 1200px;
	margin: 40px auto ;
	padding: 40px;
	background-color: #f5f5f5;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  
 
  
  img {
	
	max-width: 100%;
	height: auto;
	
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  video {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 40px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
	font-size: 2.4rem;
}

@media only screen and (max-width: 768px) {	
    .webside {
		flex-direction: column; 
    }
	h1 {
		font-size: 2rem;
	}
	
	

	@keyframes move-two {
		from {
			
		  left: 700px;
		}
		to {
		  left: -1550px;
		}
	}
}